%tr
  %td= link_to "delete", project_task_path(@project, feed_item), method: :delete, |
    data: { confirm: "本当に削除しますか？" },               |
    title: feed_item.content                      |
  %td= link_to "edit", edit_project_task_path(@project, feed_item)
  %td= feed_item.content
  %td= feed_item.status
  - unless feed_item.done?
    %td= link_to acition_name(feed_item), project_task_change_status_path(@project, feed_item, action_name: acition_name(feed_item)), method: :post, class: "btn btn-info"

/ %li{:id => "#{feed_item.id}"}
/   %span.content= feed_item.content
/   %span.content
/     status :
/     = feed_item.status
/   %span.timestamp
/     Posted #{time_ago_in_words(feed_item.created_at)} ago.
/   / - if current_user?(feed_item.user)


