%p
  %b プロジェクト名:
  = @project.name

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path

= render 'shared/task_form'
.clearfix
  =button_to "自動計算", calculate_project_tasks_path(@project), class: "btn btn-primary pull-right"

- if @feed_items.any?
  .task_table_container
    %table.table.table-bordered.task_table{ id: "project_table" }
      %thead
        %tr
          %th= "内容"
          %th= "担当者"
          %th{ class: "status" }= "ステータス"
          %th
          %th{ class: "plane_time" }= "予定"
          - @project.term.each do |_date|
            %th{ class: "task_date" }
              = _date.strftime("%-d")
              = _date.youbi
          %th
      %tbody.sortable
        - @feed_items.each do |feed_item|
          %tr{ class: "#{ 'done' if feed_item.done? } #{ 'not_started' if feed_item.not_started? }", data: { "task_id": feed_item.id } }
            %td= link_to feed_item.content, edit_project_task_path(@project, feed_item)
            %td= collection_select :user, :name, User.all, :name, :name, :selected => feed_item.user.name
            - unless feed_item.done?
              %td{ style: "text-align: center;" }= link_to acition_name(feed_item), project_task_change_status_path(@project, feed_item, action_name: acition_name(feed_item)), method: :post, class: "btn btn-info"
            -else
              %td{ style: "text-align: center;" }= status_name(feed_item.status)
            %td= link_to "delete", project_task_path(@project, feed_item), method: :delete,
              data: { confirm: "本当に削除しますか？" }, title: feed_item.content
            %td{ style: "text-align: center;" }
              %input.planed_time_field{ type: "text", value: feed_item.planed_time }
            - @project.term.each do |date|
              %td
                = feed_item.dailies.find_by(the_date: date).try(:planed_time)
            %td= link_to "delete", project_task_path(@project, feed_item), method: :delete,
              data: { confirm: "本当に削除しますか？" }, title: feed_item.content